* {
	font-family: Arial, Verdana, sans-serif;
	color: #654;
}

input {
	border-bottom: 1px dotted #DCDCDC;
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 5px;
	width: 280px;
	margin-bottom: 20px;
}

input:focus {
	border: 1px dotted #DCDCDC;
	outline: none;
}

input#submit {
	color: #FFF;
	background-color: #665544;
	border: none;
	border-radius: 5px;
	width: 80px;
}

input#submit:hover {
	color: #665544;
	background-color: #EFEFEF;
}

fieldset {
	width: 350px;
	border: 1px solid #DCDCDC;
	border-radius: 10px;
	padding: 20px;
	text-align: right;
}

legend {
	background-color: #EFEFEF;
	border: 1px solid #DCDCDC;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;
}
