body {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
}

h1 {
	padding: 10px;
}

.col1 {
	float: left;
	width: 620px;
	margin: 10px;
}

.col2 {
	float: left;
	width: 300px;
	margin: 10px;
}
